/* Cart */

.cartContainer {
    width: 85%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 1.5rem;
    padding: 1.6rem 2rem;
    border: 3px solid rgb(20, 20, 20);
    background: rgb(255, 255, 255);
}

.cartContainer .titleCart {
    padding: 20px;

}

.cartContainer form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-top: 5px ;
    padding-bottom: 5px;
}

.cartContainer form input {
    margin: 2px;
    width: 50%;
}

.cartContainer ul li {
    margin: 5px;
}

.cartContainer ul li .deleteButton {
    margin: 20px;
}

.cartContainer button {
    border-color: black;
    background-color: white;
    padding: 5px 10px;
    margin-top: 5px;
}

.cartContainer button:Hover {
    color: white;
    background-color: black;
}

.cartData {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    align-items: center;
}

.cartData img {
    width: 48px;
    height: auto;
}